/*HARRY POTTER*/
/*BODY*/
@font-face {
   font-family: harrypotter-webfont;
   src: url(harrypotter-webfont.woff);
}

/*TITLE*/
.title{
      background: url('../images/sparkle-background.jpg') center center;
      color: white;
      letter-spacing: 4px;
}

.hp-font {
   font-family: harrypotter-webfont;
   text-align: center;
   padding: 0%;
   padding-top: 2%;
   margin-bottom: -2%;
   font-size: 60px;

}

.tag-line {
   font-family: 'Open Sans Condensed', sans-serif;
   padding-top: 1%;
   text-align: center;
   font-size: 35px;
   margin-bottom: 0;
}

/*BOOKS*/
.books {
   border-top: 8px solid purple;font-family: 'Open Sans Condensed', sans-serif;
   padding: 5rem 0;
   margin-top: -1%;
   background: url('../images/textured_paper.png') center center;
   border-bottom: 8px solid purple;
}

.tag-line2 {
   font-family: 'Open Sans Condensed', sans-serif;
   margin-top: -4%;
   text-align: center;
   font-size: 35px;
}

.sorcerer {
   width: 45%;
   display: block;
   margin-left: auto;
   margin-right: auto
}

.chamber {
   width: 45%;
   display: block;
   margin-left: auto;
   margin-right: auto
}

.prisoner {
   width: 45%;
   display: block;
   margin-left: auto;
   margin-right: auto
}

.goblet {
   width: 62%;
   display: block;
   margin-left: auto;
   margin-right: auto
}

.order {
   width: 62%;
   display: block;
   margin-left: auto;
   margin-right: auto
}

.half-blood {
   width: 62%;
   display: block;
   margin-left: auto;
   margin-right: auto
}

.deathly {
   width: 62%;
   display: block;
   margin-left: auto;
   margin-right: auto
}

.date {
   text-align: center;
   font-size: 24px;
   color: purple;
}

.amazon {
   text-align: center;
   font-size: 35px;
}

.book-link {
   color: purple;
}

/* mouse over link */
a:hover {
    color: darkblue;
}

/*SORTING*/
.sorting {
   font-family: harrypotter-webfont;
   text-align: center;
   padding: 0%;
   padding-top: 5%;
   margin-bottom: -2%;
   font-size: 60px;
   border-bottom: 8px solid purple;
   background-color: gray;

   }

.slytherin {
   font-family: 'Open Sans Condensed', sans-serif;
   padding-top: 0%;
   margin-top: -2%;
   text-align: center;
   font-size: 35px;
}

.sorted-link {
   font-family: 'Open Sans Condensed', sans-serif;
   padding-top: 0%;
   margin-top: -2%;
   text-align: center;
   font-size: 35px;
}

.sorted-quiz {
   color: purple;
}

.ravenclaw {
   font-family: 'Open Sans Condensed', sans-serif;
   padding-top: 0%;
   margin-top: -2%;
   text-align: center;
   font-size: 25px;
   padding-bottom: 0%;
   margin-bottom: 2%;
}

/*QUIZ*/
.quiz {
   border-top: 8px solid purple;
   background: url('../images/textured_paper.png') center center;
   border-bottom: 8px solid purple;
}

.quiz-title {
   font-family: harrypotter-webfont;
   text-align: center;
   padding: 0%;
   padding-top: 5%;
   margin-bottom: 2%;
   font-size: 60px}

.facts {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 25px;
}

/*FOOTER*/
.footer {
   font-family: 'Open Sans Condensed', sans-serif;
   background-color: gray;
   color:white;
   vertical-align:middle;
}
